    body {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: black;
    }

    #video {
        position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100vh;
        z-index: -100;
    }

    /* Esquerda------------------------------------------------------------------------------------- */

    #esquerda {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.70);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        margin-top: 5px;
        margin-left: 10px;
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo .foto {
        width: 100%;
        height: 100%;
    }

    /* Direita------------------------------------------------------------------------------------- */

    #direita {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .espaço {
        width: none;
        height: none;
    }

    /* Menu------------------------------------------------------------------------------------- */

    #menu {
        margin: 0px;
        padding: 0px;
        background-color: #5b2302be;
        width: 100%;
        height: 10vh;
        z-index: 0;
    }

    #menu .selecao_botao {
        display: none;
    }

    .menu_container {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        width: 100%;
        height: 10vh;
        /* border: green solid 3px; */
    }

    #menu label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 10vh;
        cursor: pointer;
        text-align: center;
    }

    #menu label:hover {
        background-color: #5b2302be;
    }

    /* Introdução------------------------------------------------------------------------------------- */

    #introducao {
        margin: 0px;
        padding: 0px;
        width: 100%;
        min-height: 500px;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: yellow; */
    }

    #introducao p {
        font-size: 100px;
        color: #5b2302;
    }

    /* Contato------------------------------------------------------------------------------------- */

    #dados {
        margin: 0px;
        padding: 0px;
        width: 100%;
        min-height: 500px;
        height: 90vh;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .janela_dados {
        margin: 0;
        padding: 0;
        width: 300px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #dados .janela_dados h1 {
        color: #732C02;
        font-size: 50px;
    }

    .opcoes {
        margin: 0;
        padding: 0;
        width: 300px;
        height: 550px;
        text-decoration: none;
        list-style: none;
        margin: 0px;
        padding: 0px;
        color: #732C02;
    }

    .opcoes li {
        background-color: rgba(255, 255, 255, 0.79);
        font-size: 15px;
        margin-top: 5px;
        padding-left: 5px;
        padding-top: 10px;
        width: 300px;
        height: 70px;
        border-radius: 10px;
    }

    .opcoes li input {
        background-color: rgba(255, 255, 255, 0);
        border-style: groove;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: solid #732C02 1px;
        margin-top: 10px;
        margin-left: 30px;
    }

    .botao_enviar {
        margin-left: 200px;
        margin-top: 10px;
        width: 100px;
        height: 40px;
        font-size: 20px;
        border-radius: 5px;
        color: #501d00;
        border: solid 0.1px #431800;
        border-radius: 10px;
        box-shadow: -1px 2px 0px #431800;
        background-color: #732b0200;
    }

    .botao_enviar:active {
        position: relative;
        top: 2px;
        right: 1px;
        box-shadow: none;
        transition: 0.1s;
    }

    /* Sobre------------------------------------------------------------------------------------- */

    #info {
        margin: 0px;
        padding: 0px;
        width: 100%;
        min-height: 500px;
        height: 90vh;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #info p {
        font-size: 100px;
        color: #5b2302;
    }

    @media screen and (min-width: 420px) {}

    @media screen and (min-width: 768px) {

        body {
            flex-direction: row;
        }

        /* Esquerda------------------------------------------------------------------------------------- */

        #esquerda {
            margin: 0px;
            padding: 0px;
            width: 40%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.70);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* Direita------------------------------------------------------------------------------------- */

        #direita {
            width: 60%;
        }

        .espaço {
            width: 100%;
            height: 1vh;
        }

        /* Introdução------------------------------------------------------------------------------------- */

        #introducao {
            height: 89vh;
            line-height: 1px;
        }

        /* Contato------------------------------------------------------------------------------------- */

        #dados {
            height: 89vh;
            line-height: 1px;
        }

        .janela_dados {
            width: 100%;
            height: 85%;
        }

        .opcoes {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .opcoes li {
            margin-top: 10px;
            padding-left: none;
            padding-top: none;
            padding: 25px;
            height: 20px;

        }

        .botao_enviar {
            margin-left: 300px;
            margin-top: 15px;
        }

        /* Sobre------------------------------------------------------------------------------------- */

        #info {
            height: 89vh;
            display: none;
            line-height: 1px;
        }

    }

    @media screen and (min-width: 1367px) {

        /* Contato------------------------------------------------------------------------------------- */

        .opcoes {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .opcoes li {
            width: 500px;
            height: 70px;
        }

        .botao_enviar {
            width: 100px;
            min-height: 40px;
            margin-left: 450px;
            font-size: 20px;
            border-radius: 5px;
            border-radius: 10px;
        }

    }