    body {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: black;
    }

    #video {
        position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100vh;
        z-index: -100;
    }

    /* Esquerda------------------------------------------------------------------------------------- */

    #esquerda {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.775);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        margin-top: 5px;
        margin-left: 10px;
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo .foto {
        width: 100%;
        height: 100%;
    }

     /* Social------------------------------------------------------------------------------------ */

     #social {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        left: 0;
        bottom: 0;
    }

    #social a img {
        height: 50px;
    }

    /* Direita------------------------------------------------------------------------------------- */

    #direita {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.538);
    }

    .espaço {
        width: none;
        height: none;
    }

    /* Contato------------------------------------------------------------------------------------- */

    #dados {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .janela_dados {
        /* border: blue solid 1px; */
        margin: 0;
        padding: 0;
        width: 350px;
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #dados .janela_dados h1 {
        color: #673f00;
        font-size: 70px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #08203C;
        padding: 0px;
        margin: 0px;
    }

    .opcoes {
        /* border: green solid 1px; */
        margin: 0;
        padding: 0;
        width: 350px;
        height: 650px;
        text-decoration: none;
        list-style: none;
        margin: 0px;
        padding: 0px;
        color: #732C02;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .opcoes label {
        background-color: rgba(255, 255, 255, 0.79);
        font-size: 15px;
        margin-top: 5px;
        padding-left: 5px;
        padding-top: 10px;
        width: 300px;
        height: 30px;
        border-radius: 10px;
        padding: 20px;
    }

    .opcoes label input {
        background-color: rgba(255, 255, 255, 0);
        border-style: groove;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: solid #732C02 1px;
        margin-top: 10px;
        margin-left: 30px;
        color: #732C02;
    }

    .opcoes label select {
        background-color: rgba(255, 255, 255, 0);
        border-style: groove;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: solid #732C02 1px;
        margin-top: 10px;
        margin-left: 30px;
        color: #732C02;
    }

    .botao_enviar {
        margin-left: 200px;
        margin-top: 0px;
        width: 100px;
        height: 40px;
        font-size: 20px;
        border-radius: 5px;
        color: #501d00;
        border: solid 0.1px #431800;
        border-radius: 10px;
        box-shadow: -1px 2px 0px #431800;
        background-color: #732b0200;
    }

    .botao_enviar:active {
        position: relative;
        top: 2px;
        right: 1px;
        box-shadow: none;
        transition: 0.1s;
    }

    @media screen and (min-width: 768px) {

        body {
            flex-direction: row;
        }

        /* Esquerda------------------------------------------------------------------------------------- */

        #esquerda {
            margin: 0px;
            padding: 0px;
            width: 40%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.70);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* Direita------------------------------------------------------------------------------------- */

        #direita {
            width: 60%;
        }

        .espaço {
            width: 100%;
            height: 1vh;
        }


        /* Contato------------------------------------------------------------------------------------- */

        #dados {
            height: 89vh;
            line-height: 1px;
        }

        .janela_dados {
            width: 100%;
            height: 85%;
        }

        .opcoes {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .opcoes label {
            margin-top: 10px;
            padding-left: none;
            padding-top: none;
            padding: 25px;
            height: 20px;

        }

        .botao_enviar {
            margin-left: 300px;
            margin-top: 15px;
        }

    }

    @media screen and (min-width: 1367px) {

        /* Contato------------------------------------------------------------------------------------- */

        #dados .janela_dados h1 {
            font-size: 100px;
        }

        .opcoes {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .opcoes label {
            width: 500px;
            height: 70px;
        }

        .botao_enviar {
            width: 100px;
            min-height: 40px;
            margin-left: 450px;
            font-size: 20px;
            border-radius: 5px;
            border-radius: 10px;
        }

    }